__pycache__/
_autosave-*
_build/
.coverage
.eggs/
.pyc
.pytest_cache/
.venv/
.vscode/
*.egg-info/
*.kicad_pcb-bak
*.sch-bak
*.slvs~
*.tar*
*.zip
\#auto_saved_files\#
dist/
htmlcov/
pyoxidizer.bzl
*.bkp
.nox/
.mypy_cache/
